:host ::ng-deep .p-rating-icon:not(.p-rating-cancel),
:host ::ng-deep .p-rating-icon:not(.p-rating-cancel):hover {
  color: #f67905 !important;
}

:host ::ng-deep .p-timeline-event-opposite {
  display: none;
}

:host ::ng-deep .p-timeline-event-connector {
  height: 100px;
}
