<ng-container>
  <div
    *ngIf="!isConfirmCode"
    class="container w-[50%] border-[1px] shadow-lg mx-auto mt-[100px] bg-white p-[20px] rounded-[20px]"
  >
    <!-- Title -->
    <div class="title mb-[15px]">
      <h1 class="font-semibold text-[20px]">Forgot password</h1>
    </div>

    <mat-divider></mat-divider>

    <!-- Content -->
    <div class="content mt-[15px]">
      <p class="mb-[10px]">
        Please enter your username to search for your account.
      </p>

      <!-- Username -->
      <div>
        <mat-form-field class="example-full-width w-[100%]">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" />
        </mat-form-field>
      </div>
    </div>

    <!-- Send username -->
    <div>
      <button
        mat-flat-button
        color="warn"
        class="mr-[10px]"
        routerLink="/auth/login"
      >
        Cancel
      </button>
      <button mat-flat-button color="warn" (click)="send()">Send</button>
    </div>
  </div>

  <!-- Confirm code -->
  <div
    *ngIf="isConfirmCode"
    class="confirm-code container w-[50%] border-[1px] shadow-lg mx-auto mt-[100px] bg-white p-[20px] rounded-[20px]"
  >
    <!-- Title -->
    <div class="title mb-[15px]">
      <h1 class="font-semibold text-[20px]">Enter the confirm code</h1>
    </div>

    <mat-divider></mat-divider>

    <!-- Content -->
    <div class="content mt-[15px]">
      <!-- Confirm code -->
      <div>
        <mat-form-field class="example-full-width w-[100%]">
          <mat-label>Enter code</mat-label>
          <input matInput [(ngModel)]="confirmCode" />
        </mat-form-field>
      </div>

      <!-- Button -->
      <div>
        <button
          mat-flat-button
          color="warn"
          class="mr-[10px]"
          routerLink="/auth/login"
        >
          Cancel
        </button>

        <button mat-flat-button color="warn" class="" (click)="continue()">
          Continue
        </button>
      </div>
    </div>
  </div>
</ng-container>
