<div>
  <div class="w-full py-12 mr-auto ml-auto">
    <div
      class="w-full bg-[#D9D9D9] justify-between items-center flex h-[100px] px-[20px]"
    >
      <h2
        class="lg:text-[35px] xl:text-[35px] 2xl:text-[35px] text-[19px] title-footer text-[#F44336]"
      >
        Karnel Travels
      </h2>
      <!-- <div>
        <a href="" class="p-[20px] font-bold"
          ><fa-icon
            class="xl:text-[23px] 2xl:text-[23px] lg:text-[23px] text-[15px] text-[#F44336] pr-[5px]"
            [icon]="faFace"
          ></fa-icon
          >FaceBook</a
        >
        <a href="" class="p-[20px] font-bold"
          ><fa-icon
            class="xl:text-[23px] 2xl:text-[23px] lg:text-[23px] text-[15px] text-[#F44336] pr-[5px]"
            [icon]="fatwitter"
          ></fa-icon
          >Twitter</a
        >
      </div> -->
    </div>
  </div>
  <div  class="w-full pr-4 pl-4 mr-auto ml-auto">
    <!-- Image -->
    <img
      class="xl:p-[10px] w-[100%] h-[563px]"
      [src]="resort.urlImage"
    />

    <div class="text-center mb-12 pb-3 pt-7">
      <div>
        <h2 class="text-gray-800 leading-relaxed text-[45px]">
          {{ resort.name }}
        </h2>
      </div>
      <p class="text-[20px] text-[#999999] pt-[15px]">
        {{ resort.createDate }}
      </p>
    </div>

    <!-- Information -->
    <div class="container flex justify-between w-[100%] m-auto sm:px-[40px]">
      <div class="flex-grow sm:w-full px-[15px]">
        <div class="flex pb-[10px]">
          <h2 class="text-orange-500 leading-relaxed text-[25px] font-bold">
            Price range:
          </h2>
          <p class="text-orange-500 text-[25px] pl-[10px]">
            {{ resort.price_range }} - 2000
          </p>
        </div>
        <!-- Info -->
        <div class="leading-[30px]">
         {{resort.location}}
        </div>

        <div class="pb-[10px] mt-[20px]">
          <h2 class="text-orange-500 leading-relaxed text-[25px] font-bold">
            From Our Gallery
          </h2>
          <p class="mt-[20px] mb-[40px] text-[18px] text-[#999] font-normal">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
            Cras sollicitudin, tellus vitae condimentum egestas, libero dolor
            auctor tellus, eu consectetur neque elit quis nunc. Cras elementum
            pretium est.
          </p>
        </div>

        <!-- image -->
        <div class="flex ">
          <div class="pr-[15px] card flex justify-content-center">
            <p-image
              src="../../../../../assets/images/Sapa.jpg"
              alt="Image"
              width="250"
              [preview]="true"
            >
            </p-image>
          </div>
          <div class="pr-[15px]" >
            <p-image
            src="../../../../../assets/images/Sapa.jpg"
            alt="Image"
            width="250"
            [preview]="true"
          >
          </p-image>
          </div>
          <div class="pr-[15px]">
            <p-image
            src="../../../../../assets/images/Sapa.jpg"
            alt="Image"
            width="250"
            [preview]="true"
          >
          </p-image>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
