<ng-container>
    <div class="px-5">
      <!--        Title-->
      <div class="mb-[20px]">
        <h1 class="font-bold text-[25px]">Create Staff</h1>
      </div>
  
      <!--        Form-->
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!--          Staff name-->
          <div class="w-[100%]">
            <mat-form-field class="!w-[100%]">
              <mat-label>Staff name</mat-label>
              <input
                matInput
                formControlName="name"
                [errorStateMatcher]="validatorForm"
              />
              <mat-error *ngIf="loginForm.controls['name'].errors?.['whitespace']"
                >Name Staff is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <!--          email-->
          <div class="w-[100%]">
            <mat-form-field class="!w-[100%]">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                [errorStateMatcher]="validatorForm"
              />
              <mat-error
                *ngIf="loginForm.controls['email'].errors?.['whitespace']"
                >email is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <!-- <div class="flex justify-around"> -->
            
            <!--          Phone-->
            <div class="w-[100%]">
              <mat-form-field class="!w-[100%]">
                <mat-label>Phone</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  [errorStateMatcher]="validatorForm"
                />
                <mat-error
                  *ngIf="loginForm.controls['phone'].errors?.['whitespace']"
                  >Phone is required
                </mat-error>
                <mat-error *ngIf="loginForm.controls['phone'].errors?.['pattern']"
                  >Phone is not valid
                </mat-error>
              </mat-form-field>
            </div>
          <!-- </div> -->
          <!-- PersonId -->
          <div class="w-[100%]">
            <mat-form-field class="!w-[100%]">
              <mat-label>PersonId</mat-label>
              <input
                matInput
                formControlName="persond"
                [errorStateMatcher]="validatorForm"
              />
              <mat-error
                *ngIf="loginForm.controls['personid'].errors?.['whitespace']"
                >PersonId is required
              </mat-error>
              <mat-error *ngIf="loginForm.controls['personid'].errors?.['pattern']"
                >PersonId is not valid
              </mat-error>
            </mat-form-field>
          </div>
  
          <!--        Image Upload-->
          <div class="mb-[20px]">
            <p-fileUpload
              [maxFileSize]="100000"
              invalidFileSizeMessageSummary="Invalid file size"
              invalidFileTypeMessageSummary="Invalid file type"
              chooseLabel="Choose"
              name="fileCollection"
              [multiple]="true"
              accept=".jpg,.jpeg,.png"
              (onSelect)="onSelect($event)"
              (onRemove)="onRemove($event)"
              (onError)="onError($event)"
              [showUploadButton]="false"
              [showCancelButton]="false"
            ></p-fileUpload>
          </div>
  
          <!--        Button create-->
          <div>
            <button mat-flat-button color="primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  