.row{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


    .title-footer {
      font-family: "Yesteryear", cursive;
    }
