<div>
  <!--  Icon close-->
  <div id="close-button" class="h-[38px] flex justify-end">
    <button
      type="button"
      class="mr-0"
      mat-icon-button
      aria-label="Close"
      (click)="onClose()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!--  Title-->
  <div class="w-[100%] text-center">
    <h1 class="!font-bold !text-[25px]" mat-dialog-title>Register</h1>
  </div>

  <!--  Form-->
  <div mat-dialog-content class="m-auto w-[80%]">
    <form class="w-[100%]" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!--  Username-->
      <div class="mt-[15px]">
        <mat-form-field class="w-[100%]" focused>
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            [errorStateMatcher]="validatorForm"
          />
          <mat-error
            *ngIf="loginForm.controls['username'].errors?.['whitespace']"
            >Username is required
          </mat-error>
        </mat-form-field>
        <div></div>
      </div>

      <!--      Email-->
      <div>
        <mat-form-field class="w-[100%]">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            [errorStateMatcher]="validatorForm"
          />
          <mat-error *ngIf="loginForm.controls['email'].errors?.['whitespace']"
            >Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors?.['pattern']"
            >Email invalid
          </mat-error>
        </mat-form-field>
      </div>

      <!--      Select role-->
      <div>
        <mat-form-field class="w-[100%]">
          <mat-label>Role</mat-label>
          <mat-select [(value)]="selected" formControlName="roleId" required>
            <mat-option *ngFor="let role of roles" [value]="role.id">
              {{ role.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="loginForm.controls['roleId'].errors?.['required']"
            >Please choose an role
          </mat-error>
          <!--        <mat-hint>{{ roleId.value?.sound }}</mat-hint>-->
        </mat-form-field>
      </div>

      <!--      Password-->
      <div
        class="mt-[8px]"
        [ngClass]="{
          'mb-[25px]': loginForm.controls['password'].errors?.['pattern']
        }"
      >
        <mat-form-field class="w-[100%]">
          <mat-label>Enter the password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            [errorStateMatcher]="validatorForm"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="isShowPassword()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>

          <mat-error
            *ngIf="loginForm.controls['password'].errors?.['whitespace']"
            >Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.controls['password'].errors?.['pattern']"
            >Password must contains at least one lower case char, upper case
            char, digit and symbol
          </mat-error>
          <mat-error
            *ngIf="loginForm.controls['password'].errors?.['minlength']"
            >Password must contain at least 6 characters
          </mat-error>
        </mat-form-field>
      </div>

      <!--    Confirm Password-->
      <div
        class="mt-[8px]"
        [ngClass]="{
          'mb-[30px]': loginForm.controls['confirmPassword'].errors?.['pattern']
        }"
      >
        <mat-form-field class="w-[100%]">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            [type]="hideConfirm ? 'password' : 'text'"
            formControlName="confirmPassword"
            [errorStateMatcher]="validatorForm"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="isShowConfirmPassword()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirm"
          >
            <mat-icon>{{
              hideConfirm ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>

          <mat-error
            *ngIf="loginForm.controls['confirmPassword'].errors?.['whitespace']"
            >Password is required
          </mat-error>
          <mat-error
            *ngIf="loginForm.controls['confirmPassword'].errors?.['pattern']"
            >Password must contains at least one lower case char, upper case
            char, digit and symbol
          </mat-error>
          <mat-error
            *ngIf="loginForm.controls['confirmPassword'].errors?.['minlength']"
            >Password must contain at least 6 characters
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <!--      Register button-->
        <div class="text-center mt-[15px]">
          <button
            type="submit"
            class="ml-[2px] font-[600] w-[200px] h-[40px]"
            mat-raised-button
            color="primary"
          >
            Register
          </button>
        </div>
      </div>
    </form>

    <mat-divider class="!mt-[20px]"></mat-divider>

    <!--    If have account-->
    <div class="text-center mt-[8px] text-[13px]">
      <p>Do you already have an account</p>
    </div>
  </div>
</div>
