<ng-container>
  <div class="container w-[100%] px-[20px] py-[20px]">
    <div class="mb-[20px]">
      <h1 class="font-semibold text-[20px]">Change password</h1>
    </div>
    <!-- Form  -->
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Current password -->
        <div>
          <mat-form-field class="w-[100%]">
            <mat-label>Current password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="old_password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="isShowPassword()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            <mat-error
              *ngIf="form.controls['old_password']?.errors?.['whitespace']"
            >
              Current password is requied
            </mat-error>
          </mat-form-field>
        </div>

        <!-- New password -->
        <div class="mb-[40px]">
          <mat-form-field class="w-[100%]">
            <mat-label>New password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="new_password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="isShowPassword()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            <mat-error
              *ngIf="form.controls['new_password']?.errors?.['whitespace']"
            >
              Password is requied
            </mat-error>
            <mat-error
              *ngIf="form.controls['new_password'].errors?.['pattern']"
            >
              Password must contains at least one lower case char, upper case
              char, digit and symbol
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Confirm password -->
        <div>
          <mat-form-field class="w-[100%]">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="confirm_password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="isShowPassword()"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            <mat-error
              *ngIf="form.controls['confirm_password']?.errors?.['whitespace']"
            >
              Confirm password is requied
            </mat-error>
            <mat-error
              *ngIf="
                form.controls['confirm_password'].errors?.['passwordMismatch']
              "
              >Passwords do not match</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Submit -->
        <div>
          <button mat-flat-button color="warn" type="submit">Change</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
