.most-popular {
  font-family: "Nunito Sans", sans-serif;

  .mat-card {
    box-shadow: none;
  }
}

@media screen and (min-width: 1280px) {
  .most-popular {
    .card-tour {
      .mat-card {
        border-radius: 30px 30px 30px 30px;
      }
    }
  }
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  .p-element {
    .p-icon {
      color: #cbcbcb;
      width: 45px;
      height: 45px;
    }
  }
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  .p-element {
    .p-icon {
      color: #cbcbcb;
      width: 45px;
      height: 45px;
    }
  }
}
