<mat-divider
  class="!mt-[40px] lg:!mb-[30px] xl:!mb-[30px] 2xl:!mb-[30px] !mb-[17px] w-[100%]"
></mat-divider>
<div class="container flex justify-between w-[100%] m-auto sm:px-[20px]">
  <!-- Block 1 -->
  <div class="block-1 w-[25%]">
    <h2
      class="lg:text-[35px] xl:text-[35px] 2xl:text-[35px] text-[19px] title-footer text-[#F44336]"
    >
      Karnel Travels
    </h2>
    <div class="w-[70%]">
      <p
        class="xl:text-[13px] 2xl:text-[13px] lg:text-[13px] text-[9px] text-[#757095]"
      >
        Travel helps companies manage payments easily.
      </p>
    </div>

    <!-- Icons -->
    <div class="icon flex items-center w-[30%] justify-between mt-[30px]">
      <a
        ><fa-icon
          class="xl:text-[23px] 2xl:text-[23px] lg:text-[23px] text-[15px] text-[#F44336]"
          [icon]="faLinkedin"
        ></fa-icon
      ></a>
      <a href=""
        ><fa-icon
          class="xl:text-[23px] 2xl:text-[23px] lg:text-[23px] text-[15px] text-[#F44336]"
          [icon]="faFace"
        ></fa-icon
      ></a>
      <a href=""
        ><fa-icon
          class="xl:text-[23px] 2xl:text-[23px] lg:text-[23px] text-[15px] text-[#F44336]"
          [icon]="fatwitter"
        ></fa-icon
      ></a>
      <a href=""
        ><fa-icon
          class="xl:text-[23px] 2xl:text-[23px] lg:text-[23px] text-[15px] text-[#F44336]"
          [icon]="faMess"
        ></fa-icon
      ></a>
    </div>
  </div>

  <!-- Block 2 -->
  <div class="block-2 w-[25%]">
    <h3
      class="font-semibold text-[#181433] text-[13px] xl:text-[20px] 2xl:text-[20px] lg:text-[20px]"
    >
      Company
    </h3>
    <div class="mt-[6px]">
      <a
        routerLink="/about"
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >About us</a
      >
      <br />
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Hotels</a
      >
      <br />
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Restaurants</a
      >
      <br />
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Resorts</a
      >
      <br />
    </div>
  </div>

  <!-- Block 3 -->
  <div class="block-3 w-[25%]">
    <h3
      class="font-semibold text-[#181433] text-[13px] xl:text-[20px] 2xl:text-[20px] lg:text-[20px]"
    >
      Destinations
    </h3>
    <div class="mt-[10px]">
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Ha Long</a
      >
      <br />
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Ho Chi Minh</a
      >
      <br />
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Da Nang</a
      >
      <br />
      <a
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[12px] text-[#181433]"
        >Ha Noi</a
      >
      <br />
    </div>
  </div>

  <!-- Block 4 -->
  <div class="block-3 w-[25%]">
    <h3
      class="font-semibold text-[#181433] text-[13px] xl:text-[20px] 2xl:text-[20px] lg:text-[20px]"
    >
      Contact Info
    </h3>
    <div class="w-[70%]">
      <p
        class="xl:text-[14px] 2xl:text-[14px] lg:text-[14px] text-[10px] text-[#727275] mt-[15px]"
      >
        * Will send you weekly updates for your better tour packages.
      </p>
    </div>
  </div>
</div>
