<section class="w-[100%] bg-white p-[15px] h-[auto] m-auto">
  <div *ngIf="!isShowCreateHotel() && !isShowDetailHotel()">
    <div class="mb-[30px] ml-[25px] mt-[20px] flex w-[96%] justify-between">
      <h1 class="font-[600] text-[25px]">Hotels</h1>

      <!-- Button create -->
      <div class="">
        <button
          routerLink="/admin/hotels/create"
          mat-flat-button
          color="primary"
          class="w-[150px] !rounded-[30px]"
        >
          Create
        </button>
      </div>
    </div>

    <!-- Table  -->
    <div class="table-categories w-[97%] m-auto">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element?.price_range }}</td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">{{ element?.location }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element?.phoneNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="action" class="">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="w-[400px]">
            <button mat-flat-button color="primary" class="mr-[10px]">
              Edit
            </button>
            <button
              mat-flat-button
              color="primary"
              class="mr-[10px]"
              [routerLink]="['/admin/hotels/detail', element.id]"
            >
              Detail
            </button>
            <button
              mat-flat-button
              color="primary"
              (click)="deleteHotels(element?.id)"
            >
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="pageEvent = handlePage($event)"
        [pageSizeOptions]="[5, 10]"
        [length]="totalSize"
        showFirstLastButtons
        aria-label="Select
      page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>

  <div *ngIf="isShowCreateHotel() || isShowDetailHotel()">
    <router-outlet></router-outlet>
  </div>
</section>
