<div class="container !bg-[#e9dddd] h-[100%]">
  <mat-tab-group>
    <!-- Search tour -->
    <mat-tab class="!text-white" label="Tour">
      <div class="search-tour">
        <app-search-tour></app-search-tour>
      </div>
    </mat-tab>

    <!-- Search hotel -->
    <mat-tab class="!text-white" label="Hotel">
      <div class="search-hotel"><app-search-hotel></app-search-hotel></div>
    </mat-tab>

    <!-- Search restaurant -->
    <mat-tab class="!text-white" label="Restaurant">
      <div class="search-restaurant">
        <app-search-restaurant></app-search-restaurant>
      </div>
    </mat-tab>

    <!-- Search resort -->
    <mat-tab class="!text-white" label="Resort">
      <div class="search-resort">
        <app-search-resort></app-search-resort>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
