.layout {
  width: 100%;
  height: 500px;

  .nav {
    // margin-left: 50%;
    // transform: translateX(-45%);

    .logo {
      font-family: "Yesteryear", cursive;
    }
  }

  #title {
    .title {
      font-family: "Yesteryear", cursive;
    }
  }
}
