<div class="layout">
  <div class="img w-[100%] h-[500px] absolute z-[-1000]">
    <div class="h-[100%] w-[100%] relative">
      <div class="w-[100%] h-[100%] absolute bg-black opacity-[0.1] top-0 left-0"></div>
      <img src="../../../assets/images/cat-ba-3553145_1920 1.jpg" alt="error"
        class="w-[100%] h-[100%] bg-cover object-cover" />
    </div>
  </div>

  <div class="flex">
    <div class="nav text-white w-[50%]">
      <nav class="w-[60%] m-auto">
        <ul class="flex justify-between">
          <li><a class="text-[20px]">Home</a></li>
          <li><a class="text-[20px]">About</a></li>
          <li><a class="logo text-[48px]">Karnel Travels</a></li>
          <li><a class="text-[20px]">Infomation</a></li>
          <li><a class="text-[20px]">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</div>
